body {
  background-color: white;
  color: rgb(0, 0, 0);
}

video
{
  border-radius: 0 !important;
}

h1 {
  color: #00284d;
  font-size: x-large;
}

.card{
  border-color: #00284d;
}

.card-header {
  color: white;
  font-weight: bold;
  border-width: 0;
  background-color: #00284d;
  border-radius: 0 !important;
}

.card-body {
  color:black;
}

a, .btn {
  color: #2e71fd;
  text-decoration: none;
}

a:hover, .btn:hover {
  color: #00284d;
}

.btn-sm, .btn-sm:hover, .btn-sm:focus {
  background-color: #f8f8f8;
  border-color: #d3d3d3;
}

.btn-sm:focus{
  color: #00284d;
  border-width: 0;
}

.text-blue {
  color: #00284d;
}

.card-subtitle{
  color: #727272;
}

.publications{
  padding-bottom: .5rem;
}

.video-container {
  display: flex;
  position: inherit;
  color: black;
}

.bal-beforePosition {
  background: #00284d;
  color: #fff;
  left: 0;
  pointer-events: none;
  border-radius: 0.2rem;
  padding: 2px 10px;
}

.bal-afterPosition {
  background: #00284d;
  color: #fff;
  right: 0;
  pointer-events: none;
  border-radius: 0.2rem;
  padding: 2px 10px;
}

.beforeLabel {
  position: absolute;
  bottom: 0;
  margin: 0.5rem;
  font-size: 1em;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.afterLabel {
  position: absolute;
  bottom: 0;
  margin: 0.5rem;
  font-size: 1em;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.topLabel {
  position: absolute;
  top: 0;
  margin: 0.5rem;
  font-size: 1em;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.mx-1 {
  background-color: #f8f8f8 !important;
  color: #00284d;
}
